@model DangJian.Models.Quota

@{
    ViewBag.Title = "填报信息";
}

<h3>指标详情&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;">标准分： @Model.Value.ToString() 分</span></h3>
<br />
@Model.Description
<br />
<h3>考核标准</h3>
<br />
@Model.Standard
<br />
<h3>填报信息</h3>
<input type="button" value="新增记录" onclick="NewDetail()" />
<table class="table">
    <tr>
        <td style="width: 40px">序号</td>
        <td style="width: 60px">年份</td>
        <td style="width: 80px">填报日期</td>
        <td style="width: 200px">备注</td>
        <td style="width: 80px">填报明细</td>
    </tr>
    @{
        int no = 0;
    }
    @foreach (var item in @Model.QuotaRecords)
    {
        no++;
        <tr>
            <td>@no</td>
            <td>@item.CreateYear</td>
            <td>@item.CreateDate</td>
            <td>@item.Remark</td>
            <td><a href="#" onclick="javascript:ViewDetail('@item.GUID')">查看</a></td>
        </tr>
    }
</table>

@section Scripts {
    <script type="text/javascript">
        function NewDetail() {
            window.open('@Url.Action("NewDetail", new{ quotaCode = Model.Code })', '', 'width=800,height=500,location=no,menubar=no,status=no,scrollbars=yes');
        }
        function ViewDetail(id) {
            var url = "ViewDetail?recordId=" + id;
            window.open(url, '', 'width=800,height=500,location=no,menubar=no,status=no,scrollbars=yes');
        }
    </script>
    }
