@model IEnumerable<DangJian.ViewModels.QuotaRecordVM>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Description)</td>
        <td>
            @{
    if (!item.IsNeed)
    { 
                <a href="#" onclick="javascript:ViewFill('@item.QuotaCode')">无需填报</a>
    }
    else
    {
                <a href="#" onclick="javascript:ViewFill('@item.QuotaCode')">@item.FillInfo</a>
    }
            }

        </td>
        <td>@Html.DisplayFor(modelItem => item.Value)</td>
    </tr>
}
