@model DangJian.Models.Grade

@{
    Layout = null;
}
<!DOCTYPE html>

<html style="background-color: white">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>打分</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding: 5px;">
    @if (ViewBag.SaveOk == true)
    {
        <script type="text/javascript">
            window.opener.location.reload();
            window.close();
        </script>
    }

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Grade</legend>

            <div class="editor-label">
                分值
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Value, new { style = "width:100px" })
                @Html.ValidationMessageFor(model => model.Value)
                <input id="DepartmentCode" name="DepartmentCode" type="hidden" value="@ViewBag.DepartmentCode" />

            </div>

            <div class="editor-label">
                扣分原因
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Reason)
                @Html.ValidationMessageFor(model => model.Reason)
            </div>

            <p>
                <input type="submit" value="提　交" />
            </p>
        </fieldset>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
