@model IEnumerable<DangJian.Models.V_GradeQuota>

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background-color:white">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>扣分信息</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:0 2px 2px 2px;">
    <h3 style="text-align: center">@ViewBag.CurrenDep 扣分信息</h3>

    <table class="table">
        <tr>
            <td style="width: 300px">指标</td>
            <td style="width: 80px">扣分人</td>
            <td style="width: 60px">分值</td>
            <td style="width: 360px">扣分原因</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Description</td>
                <td>@item.UserName</td>
                <td>@item.Deducting</td>
                <td>@item.Reason</td>
            </tr>
        }
    </table>
</body>
</html>
