@model IEnumerable<DangJian.Models.QuotaGroup>

@{
    ViewBag.Title = "指标考核详情";
}

<div style="float: left; width: 200px;">
    @Html.Action("Index", "Department")
</div>
<div style="float: right; width: 700px;">
    <h3 style="text-align: center">当前查看部门： @ViewBag.CurrenDep</h3>
    <br />
    综合得分： @ViewBag.GSum &nbsp;&nbsp;&nbsp;&nbsp;扣分： @ViewBag.DSum &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" onclick="javascript:ViewDeducting()">扣分信息</a>

    <table class="table">
        <tr>
            <td style="width: 550px;">指标</td>
            <td style="width: 90px;">填报状态</td>
            <td style="width: 60px;">得分</td>
        </tr>
        @foreach (var item in Model)
        { 
            <tr>
                <td colspan="3" style="font-weight:bold;">一级指标：@item.Name （@item.Value 分）</td>
            </tr>
            @Html.Action("GradeList", "Grade", new { groupCode = item.Code, depCode = ViewBag.DepCode })
        }
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        function ViewDeducting() {
            window.open('@Url.Action("DeductingList", new{ depCode = ViewBag.DepCode, depName = ViewBag.CurrenDep })', '', 'width=800,height=400,location=no,menubar=no,status=no,scrollbars=auto');
        }

        function ViewFill(qCode) {
            var url = "../Quota/ViewFill?quotaCode=" + qCode + "&depCode=@ViewBag.DepCode&depName=@ViewBag.CurrenDep";
            window.open(url, '_blank');
        }
    </script>
}
